{% extends "book_site/base.html" %}

{% block content %}

    <div class="container">
        <div class="section"><h2>Why Choose Us?</h2>
            <ul class="home-list">
                <li>Wide Selection: Thousands of titles across various genres—fiction, non-fiction, sci-fi, fantasy,
                    romance, and more.
                </li>
                <li>Free Rentals: Enjoy your favorite books without any cost. All rentals are completely free!</li>
                <li>Convenient Reservations: Reserve your chosen books online and pick them up within 2 days at our
                    shop.
                </li>
                <li>Sustainability: Contribute to a greener planet by renting books.</li>
            </ul>
        </div>
        <div class="section"><h2>How It Works</h2>
            <ol class="home-list-number">
                <li>Browse: Search our extensive catalog and find the book that sparks your interest.</li>
                <li>Reserve: Select your book and place a reservation online. Your book will be ready for pickup within
                    2 days.
                </li>
                <li>Pick Up: Visit our shop to collect your reserved book. Dive into the story and get lost in its
                    pages.
                </li>
                <li>Return: Bring the book back to the shop when you're finished. It's that easy!</li>
            </ol>
        </div>
        <div class="section"><h2>Join Our Community</h2>
            <p class="home-p">Stay updated with the latest book arrivals, reviews, and recommendations. Sign up for our
                newsletter and
                follow us on social media for exclusive offers and bookish content.</p>
        </div>
    </div>

{% endblock %}