{% extends "book_site/base.html" %}

{% block content %}
    <h2>Forgot your password?</h2>
    <div class="ForgotPassword">
        <p class="forgerinfo">You will receive a link to create a new password via e-mail.</p>
        <p class="forgerinfoB"> Please enter your email address</p>


        {% if error_message %}
            <div class="errorlist">

                <p class="errorReset">{{ error_message }}</p>
            </div>

        {% endif %}
        <form method="post" class="LoginForm">
            {% csrf_token %}


            <div class="field-wrap">
                {% for field in form %}
                    <div>
                        <div>
                            {{ field.label_tag }}
                            {{ field }}
                            <div class="error-messageLogIn" id="error-{{ field.name }}"></div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <button type="submit">Send password reset link</button>
        </form>
    </div>
{% endblock %}
