{% extends "book_site/base.html" %}

{% block content %}
    <h2>Reset your password</h2>
    <form method="post">
        {% csrf_token %}
        <div class="field-wrap">
            {% for field in form %}
                <div>
                    <div>
                        {{ field.label_tag }}
                        {{ field }}
                        <div class="error-messageLogIn" id="error-{{ field.name }}"></div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <button type="submit">Change password</button>
    </form>



{% endblock %}